<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Norbert Nagy - foursquare Explore Venues</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="foursquareApp">
<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-sm-12">
        <h1>Foursquare</h1>

        <p>Explore near by Venues integration</p>

      </div>
    </div>
  </div>
</div>
<div class="container" ng-controller="FetchController">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="place"  placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" id="fetchbtn" ng-click="fetch()" type="button">Go!</button>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group">
    <div class="list-group-item animation" ng-show="items" ng-repeat="item in items" ng-class-even="'bg-primary'">
      <div class="row">
        <div class="col-xs-6 col-sm-4"><h4 class="list-group-item-heading">{{ item.venue.name }}</h4></div>
        <div class="col-xs-6 col-sm-4 text-center"> <p class="list-group-item-text"><span class="glyphicon glyphicon-info-sign"></span> {{ item.venue.categories[0].name }}</p></div>
        <div class="col-xs-6 col-sm-4 text-center">{{ item.venue.rating }} <span class="glyphicon glyphicon-star-empty"></span></div>
      </div>
      <div class="row">
        <div class="col-md-12">{{ item.tips[0].text }}</div>
      </div>
      <div class="row">
        <div class="col-xs-6"><span class="glyphicon glyphicon-record"></span> {{ item.venue.location.address }}, {{ item.venue.location.city }}</div>
        <div class="col-xs-6" ng-show="item.venue.hours.status"><span class="glyphicon glyphicon-time"></span> {{ item.venue.hours.status }}</div>
      </div>
    </div>
    <div class="list-group-item animation" ng-show="nomatch">
      <div class="row">
        <div class="col-md-12">No match</div>
      </div>
    </div>
  </div>

    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/angular-animate/angular-animate.min.js"></script>
    <script src="assets/jquery/dist/jquery.min.js"></script>
    <script src="js/scripts.min.js"></script>
</body>
</html>