<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Norbert Nagy - foursquare Explore Venues</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="foursquareApp">
<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-sm-12">
        <h1>Foursquare</h1>

        <p>Explore near by Venues integration</p>

      </div>
    </div>
  </div>
</div>
<div class="container" ng-controller="FetchController">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="place" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" id="fetchbtn" ng-click="fetch()" type="button">Go!</button>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group">
    <div class="list-group-item" ng-repeat="item in items">
      <h4 class="list-group-item-heading">{{ item.venue.name }}</h4>

      <p class="list-group-item-text">{{ item.venue.rating }}</p>
    </div>
  </div>

  <script src="assets/angular/angular.min.js"></script>
  <script src="assets/angular-animate/angular-animate.min.js"></script>
  <script src="assets/jquery/dist/jquery.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>
</html>