@dark-grey: #222;
@white: #fff;
@blue: #89d3ff;
@sand-grey: #bed1e0;

body {

}

.jumbotron {
  background: @white;
}

.list-group-item {
  &.bg-primary {
    color: #fff;
    background-color: #337ab7;
  }
}