@dark-grey: #222;
@white: #fff;
@blue: #89d3ff;
@sand-grey: #bed1e0;

body {

}

.jumbotron {
  background: @white;
}

.list-group {
  div:nth-child(even) {
    text-shadow: 0 -1px 0 #286090;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#2b669a 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#2b669a 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2b669a));
    background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
    background-repeat: repeat-x;
    border-color: #2b669a;
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
//    border-color: #337ab7;
  }
}