@dark-grey: #222;
@white: #fff;
@blue: #89d3ff;
@sand-grey: #bed1e0;

body {

}

.jumbotron {
  background: @white;
}

.list-group-item {
  -webkit-transition: color 0.6s, background-color 0.3s;
  -moz-transition: color 0.6s, background-color 0.3s;
  -ms-transition: color 0.6s, background-color 0.3s;
  transition: color 0.6s, background-color 0.3s;
  &.bg-primary {
    color: #fff;
    background-color: #337ab7;
  }
}